<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <head>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  </head>
    <div class="container-fluid">
      <a class="navbar-brand" href="/home.html">Stock Management</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/list_items">Home</a>
          </li>
          <li class="nav-item">
            <!--<a class="nav-link" href="/list_items">List Item</a>-->
          </li>
          
          <li class="nav-item">
            <!--<a class="nav-link" href="/add_items">Add Item</a>-->
          </li>
          <li class="nav-item">
            <!--<a class="nav-link" href="/list_history">List History</a>-->
          </li>
        </ul>
        <ul class="navbar-nav">
          {% if request.user.is_authentiated %}
          <li>
            <a href="/accounts/logout">
              <button class="btn btn-danger">{{ user }} | Logout</button>
            </a>
          </li>
          {% else %}
          <li>
            <a href="/accounts/login">Login</a>
          </li>
          {% endif %}
        </ul>
        
      </div>
    </div>
  </nav>
<!----MODAL------->
<a href="#"><div id="version-display" data-bs-toggle="modal" data-bs-target="#myModal">SMIS Ver: 1.0</div></a>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Information System (IS)</h4>
      </div>
      <div class="modal-body">
        <div class="dev-info">
          <p><b>STOCK MANAGEMENT INFORMATION SYSTEM (SMIS)</b></p>
          <p>Version: 1.0</p>
          <p>Developed by: <strong>Hansel Ndemange</strong></p>
          <p>Year: 2024</p>
          <p><b>Phone Number:</b><code> +2547 054 540 27</code></p>
          <p><b>Email:</b><code> hanselfidel6@gmail.com</code></p>
          <div class="social-links">
            <a href="https://www.linkedin.com/in/hansel-ndemange-360434230/" title="LinkedIn" target="_blank"><i class='bx bxl-linkedin'></i></a>
            <a href="https://github.com/hans254" title="Github" target="_blank" ><i class='bx bxl-github'></i></a>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>